<div class="notice"><%%= flash[:notice] %></div>
<div class="error"><%%= flash[:error] %></div>

<%% form_for :user do |form| -%>
	<p>
  	<b>Password</b><br />
		<%%= form.password_field :password %>
  </p>

	<p>
  	<b>Password Confirmation</b><br />
		<%%= form.password_field :password_confirmation %>
  </p>

	<p>
  	<%%= submit_tag 'Change Password' %>
	</p>
<%% end -%>